@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src:url(fonts/Montserrat_Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat_Light.ttf);
    font-weight: initial;
}

*{
    margin:0;
    padding:0;
}

html,body, #root, .App{
    font-family: Montserrat;
    height: 100%;
}
p{
    margin-top: 30px;
}

.Main{
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.Footer{
    max-width: 1000px;
    width: 100%;
    bottom: 0;
    margin:auto;
}

.Content{
    flex: 1 0 auto;
}
.Footer{
    flex: 0 0 auto;
}