.Block{
    display:flex;
    z-index: 30;
    margin-bottom: 40px;
}
.ImageAlt{
    width:0;
}

.Illustration{
    margin-left: auto;
}

@media (max-width: 1000px) {
    .Block{
        display: block;
    }
    .Illustration{
        width: 20%;
        margin: auto auto 40px;
    }
    .ImageBlock{
        width: 0;
    }
    .ImageAlt{
        margin: 20px 0 0 40%;
        width:20%;
    }
    .Middle > .ImageAlt{
        margin-bottom: 20px;
    }
}

p{
    margin-bottom: 20px;
}

.TextBlock{
    box-shadow: 0px 4px 25px 6px rgba(0, 0, 0, 0.08);
    z-index: 30;
    padding: 30px;
    min-width: 300px;
    border-radius: 29px;
}


.Header{
    font-style: normal;
    font-weight: normal;
    font-size: 250%;
    line-height: 100%;
    margin-bottom: 20px;
}

.Text{
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 29px;
}