.Block{
    display:flex;
    margin-top: 80px;
    z-index: 30;
}

@media (max-width: 1000px) {
    .ImageBlock{
    width: 0;
    }
}
/*.ImageBlock{*/
/*    position: ;*/
/*    width: 30%;*/
/*}*/

p{
    margin-bottom: 20px;
}

.TextBlock{
    box-shadow: 0px 4px 25px 6px rgba(0, 0, 0, 0.08);
    z-index: 30;
    padding: 30px;
    min-width: 300px;
    border-radius: 29px;
}


.Header{
    font-style: normal;
    font-weight: normal;
    font-size: 250%;
    line-height: 100%;
    margin-bottom: 20px;
}

.Text{
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 29px;
}