.Description{
    width:18vw;
    margin-right: 8px;
    background-color: black;
}

.HeaderMap, .TextMap{
    padding: 5%;
    color: white;
}

.HeaderMap{
    font-size: 200%;
    font-weight: bold;
}

.TextMap{
    font-size: 150%;
}
@media(max-width: 1000px) {
    .Description{
        margin-right: 0;
        width:100%;
    }
}