.MapPlane{
    width: 80vw;
    margin: auto;
    height: calc(80vw * 9 / 16);
    position: relative;
    background-image: url(../img/Leningrad.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Dot{
    width: 5px;
    height:5px;
    align-content: center;
    position:absolute;
    border-width: 0px;
}

@keyframes into {
    0%{opacity:0;}
    100%{opacity:0.7;}
}

@keyframes out {
    0%{opacity:0.7;}
    100%{opacity:0.1;}
}

.PointStats{
    width:140px;
    height: 50px;
    opacity: 0.7;
    position: absolute;
    background-color: white;
    border-radius: 5%;
    animation: into .5s;
}

.PointStats:hover{
    animation: out .5s;
    opacity: 0.1;
}

.Point{
    position: absolute;
    background-color: red;
    width:1px;
    height:1px;
    border-radius:50%;
    transition-duration: .7s
}
.Point:hover{
    cursor: pointer;
}

.PointName{
    opacity: 1;
    font-size: 100%;
    margin-bottom: 10px;
}


.PointText{
    opacity: 1;
    font-size: 80%;
}
@media(max-width: 1000px) {
    .MapPlane{
        width: 100vw;
        height: calc(100vw * 9 / 16);
    }
}